<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Hola Paciente <span th:text="${name}"/> <span th:text="${lastName}"/></p>

<p>Hola Odontólogo <span th:text="${nameDentist}"/> <span th:text="${lastNameDentist}"/></p>
<p>Matrícula <span th:text="${registration}"/></p>


</body>
</html>